@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: beige;
}

.container{
	width: 450px;
	border-radius: 15px;
	background: #e5f6fc;
}

.container h2{
	font-size: 25px;
	font-weight: 500;
	padding: 18px 25px;
	border-bottom: 1px solid #e1e9ec;
}

.container .content{
	margin: 25px 20px 35px;
}

.content .word{
	font-size: 33px;
	font-weight: 500;
	text-align: center;
	letter-spacing: 24px;
	margin-right: -24px;
	text-transform: uppercase;
}

.content .details{
	margin: 25px 0 20px;
}

.details p{
	font-size: 18px;
	margin-bottom: 10px;
}

.details p b{
	font-weight: 500;
}

.content input{
	width: 100%;
	height: 60px;
	outline: none;
	padding: 0 16px;
	border-radius: 5px;
	border: 1px solid #aaa;
}

.content .buttons{
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
}

.buttons button{
	border: none;
	outline: none;
	padding: 15px 0;
	font-size: 17px;
	border-radius: 5px;
	width: calc(100% / 2 - 8px);
}

.buttons .refresh-word{
	background: #a7e4fa;
	cursor: pointer;
	text-decoration: none;
	color: #52879b;
}

.buttons .check-word{
	background: rgb(245, 245, 220);
	cursor: pointer;
	text-decoration: none;
	color: rgb(145, 145, 103);
}